<div class='container px-5 px-sm-0'>
  <div class='row'>
    <div class='col-md-3'>
      <h2>User info</h2>
      <%= render 'info', user: current_user %>

      <h2 class="mt-3">New book</h2>
      <%= render 'books/form', book: @book %>
    </div>

    <div class='col-md-8 offset-md-1'>
      <h2>Users</h2>
      <div class="mb-2 group-botton">
        <%= link_to new_group_path, class: "btn btn-primary btn-{themecolor}.rounded-pill btn-sm" do %>
          <i class="fas fa-plus"></i>グループを作成する
        <% end %>
        |
      </div>
      <%= render 'index',users: @users %>
    </div>
  </div>
</div>